<?xml version='1.0' encoding='utf-8'?>
<plugin id="tw.com.bais.groundvideo" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>backgroundvideo</name>
    <description>A simple Cordova/Phonegap plugin to capture video and preview onscreen via a transparent overlay without affecting app functionality.</description>
    <author></author>
    
    <engines>
        <engine name="cordova" version=">=4.0.0" />
    </engines>
    
    <keywords>video, background, transparent, overlay, recording, camera</keywords>
    <license>GPL3</license>

    <js-module name="backgroundvideo" src="www/backgroundvideo.js">
        <clobbers target="backgroundvideo" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="backgroundvideo">
                <param name="android-package" value="tw.com.bais.groundvideo.BackgroundVideo"/>
            </feature>
        </config-file>
        <!-- add permissions in AndroidManifest.xml file-->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/BackgroundVideo.java" target-dir="src/tw/com/bais/groundvideo" />
        <source-file src="src/android/ImageLoadTask.java" target-dir="src/tw/com/bais/groundvideo" />
        <source-file src="src/android/ImageLoadTaskListener.java" target-dir="src/tw/com/bais/groundvideo" />
        <source-file src="src/android/VitamioMedia.java" target-dir="src/tw/com/bais/groundvideo" />
     </platform>
	 
</plugin>
